@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Rock+Salt&family=Spartan:wght@300&display=swap');


:root {
  --textcolor: #454133;
  --bgcolor1: #afac9f;
  --bgcolor2: #d8d4cc;
  --bgcolor3: #88856f;
}

* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
  
}

a {
  color: var(--textcolor);

}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

h1 {  
  color: var(--textcolor);
  font-family: 'Rock Salt', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;  
  padding-bottom: 1%;
  text-shadow: 1px 1px 1px #000; 
  top: 6%;

}

h2 {
  color: var(--textcolor);
  font-family: 'EB Garamond', serif;
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px #000;
  font-weight: normal;
}

h3, h4, h5 {
  color: var(--textcolor);
}



body {
  /* padding-top: 70px !important; */
  /* padding-bottom: 100px; */
  margin: 0;
  font-family: 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: gray;
  background: url('assets/images/vines.jpg') no-repeat center fixed;
  background-size: cover;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: var(--bgcolor3);
  /* padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 1%;
  margin: 0; */
  z-index: 2;
  position: fixed;
  /* top: 0; */
  /* width: 100%; */
}

footer {
  background-color: var(--bgcolor3) !important;
  padding-bottom: 1%;
  padding-top: 1%;
  text-align: center;
  margin: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-link {
  display: inline-block;
  padding: 0px 10px;
  word-wrap: normal;
  
}


.content {
  /* margin: 0px; */
  /* margin-top: 50%; */
  padding:0px;
  float: left;
  width:100%;
  position:absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left:50%;
}


.card {
  background-color: var(--bgcolor1);
  margin-left: 3%;
  margin-right: 3%;
  padding: 1%;
  overflow: hidden;
}

.profile-pic {
  display: block;
  border-radius: 50%;
  height: 300px; 
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 2%;
}

.wine-glasses {
  float: left;

  width: 15%;
}

.technology {
  float: right;
  width: 15%;
  margin-bottom: 1%;
}

.work-card {
  border-style: dashed;
  border-color: white;
  border-radius: 10px;
  border-width: 2px;
  margin: 5%;
  margin-bottom: 2%;
  transition: transform 0.2s linear;


}

.work-card:hover {
  box-shadow: 0 5px 15px rgb(14, 13, 13);
  transform: translateY(-7px);

}

.work-card-header {
  background-color: var(--bgcolor2);
  border-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 2%;
  margin-top: 3%;
  z-index: 2; 
}

.work-preview {
  border-radius: 10px;
  height: 225px;
}

.link-icon {
  height: 32px
}

.work-container {
  display: flex;
  justify-content: space-between;
}

.button-container {
  padding: 3%;
}

.BUTTON_EVA {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 500;
   padding: 23px;
   background-color: #a3a185;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid var(--bgcolor1) 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 2%;
}

.BUTTON_EVA:hover {
   background: #737355;
   border: solid var(--bgcolor1) 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-exit {
  opacity: 1;
}

.example-exit.example-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

 @media screen and (max-width: 767px){
 

  .work-content {
    height: 90%;
    margin-bottom: 10%
  }

  .skills-content {
    height: 80%;
    margin-bottom: 10%;
  }

  .work-container { 
    display: inline;
  }

nav {
  position: static;
}


  .mobile-social-buttons {
    display: flex;
    justify-content: space-evenly;
  }
}


